flows/BasicFlow.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <constants>
        <name>conValue</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>3.0</numberValue>
        </value>
    </constants>
    <decisions>
        <name>Deci</name>
        <label>Deci</label>
        <locationX>261</locationX>
        <locationY>224</locationY>
        <defaultConnector>
            <targetReference>Not_3</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>conValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>3.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>D</targetReference>
            </connector>
            <label>outcome</label>
        </rules>
    </decisions>
    <interviewLabel>BasicFlow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>BasicFlow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>ConName</name>
        <label>ConName</label>
        <locationX>207</locationX>
        <locationY>50</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>OPSc</targetReference>
        </connector>
        <fields>
            <name>Enter_Contact</name>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue></stringValue>
            </defaultValue>
            <fieldText>Enter_Contact</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>D</name>
        <label>D</label>
        <locationX>99</locationX>
        <locationY>271</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Disp</name>
            <fieldText>value is:3</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Not_3</name>
        <label>Not3</label>
        <locationX>561</locationX>
        <locationY>292</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Not3</name>
            <fieldText>Not 3</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>OPSc</name>
        <label>OPSc</label>
        <locationX>500</locationX>
        <locationY>49</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Deci</targetReference>
        </connector>
        <fields>
            <name>OP</name>
            <fieldText>The entered value is: {!varConName}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>ConName</startElementReference>
    <status>Draft</status>
    <variables>
        <name>API</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <elementReference>varLoop</elementReference>
        </value>
    </variables>
    <variables>
        <name>APIConValue</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <elementReference>varLoop</elementReference>
        </value>
    </variables>
    <variables>
        <name>APIVar</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <elementReference>varLoop</elementReference>
        </value>
    </variables>
    <variables>
        <name>LoopVar</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>3.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varConName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>Enter_Contact</elementReference>
        </value>
    </variables>
    <variables>
        <name>varLoop</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>3.0</numberValue>
        </value>
    </variables>
</Flow>
