flows/Renew_Opportunity.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Add_to_New_Collection</name>
        <label>Add to New Collection</label>
        <locationX>904</locationX>
        <locationY>309</locationY>
        <assignmentItems>
            <assignToReference>oppProducts_new</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>oppProduct_loop</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Over_Products</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Opportunity_Product</name>
        <label>Opportunity Product</label>
        <locationX>877</locationX>
        <locationY>114</locationY>
        <assignmentItems>
            <assignToReference>oppProduct_loop.OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>opportunity.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oppProduct_loop.TotalPrice</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_New_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Opportunity_Fields</name>
        <label>Update Opportunity Fields</label>
        <locationX>269</locationX>
        <locationY>117</locationY>
        <assignmentItems>
            <assignToReference>opportunity.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Prospecting</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>opportunity.CloseDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ninetydays</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Clone_Opportunity</targetReference>
        </connector>
    </assignments>
    <formulas>
        <name>ninetydays</name>
        <dataType>Date</dataType>
        <expression>Today()+90</expression>
    </formulas>
    <interviewLabel>Renew Opportunity {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Renew Opportunity</label>
    <loops>
        <name>Iterate_Over_Products</name>
        <label>Iterate Over Products</label>
        <locationX>645</locationX>
        <locationY>113</locationY>
        <assignNextValueToReference>oppProduct_loop</assignNextValueToReference>
        <collectionReference>oppProductsOriginal</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Opportunity_Product</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Clone_Products</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Clone_Opportunity</name>
        <label>Clone Opportunity</label>
        <locationX>466</locationX>
        <locationY>115</locationY>
        <connector>
            <targetReference>Iterate_Over_Products</targetReference>
        </connector>
        <inputReference>opportunity</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Clone_Products</name>
        <label>Clone Products</label>
        <locationX>569</locationX>
        <locationY>320</locationY>
        <inputReference>oppProducts_new</inputReference>
    </recordCreates>
    <startElementReference>Update_Opportunity_Fields</startElementReference>
    <status>Active</status>
    <variables>
        <name>opportunity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>oppProduct_loop</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>oppProducts_new</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>oppProductsOriginal</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
</Flow>
